{{>header}}

<div class="row center-align">
    <h3>New Full Day Time Off Request Form</h3>
</div>

<form action="/mvc/user/full-day-timeoff/edit/{{fullDayTimeOffDTO.id}}/user/{{userId}}" method="post">
    <label for="date">Data Inizio</label>
    <input type="date" name="dateStart" id="dateStart" value="{{fullDayTimeOffDTO.dateStart}}" required>
    <label for="date">Data Fine</label>
    <input type="date" name="dateEnd" id="dateEnd" value="{{fullDayTimeOffDTO.dateEnd}}" required>


    <input type="submit" value="Inserisci richiesta">
</form>

{{>footer}}