{{>header}}

<div class="row center-align">
    <h3>New Partial Day Time Off Request Form</h3>
</div>

<form action="/mvc/user/partial-day-timeoff/add/{{userId}}" method="post">
    <label for="date">Data</label>
    <input type="date" name="date" id="date" required>
    <label for="morningFrom">Ora inizio Mattina</label>
    <input type="time" name="morningFrom" id="morningFrom" required>
    <label for="morningTo">Ora fine Mattina</label>
    <input type="time" name="morningTo" id="morningTo" required>
    <label for="afternoonFrom">Ora inizio Pomeriggio</label>
    <input type="time" name="afternoonFrom" id="afternoonFrom" required>
    <label for="afternoonTo">Ora fine Pomeriggio</label>
    <input type="time" name="afternoonTo" id="afternoonTo" required>

    <input type="submit" value="Inserisci richiesta">
</form>

{{>footer}}