{{>header}}

<div class="row center-align">
    <h3>User</h3>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>

<br/><br/><br/><br/>

<table>
    <thead>
    <tr>
        <th>Cancella</th>
        <th>Data</th>
        <th>Permessi</th>
    </tr>
    </thead>
    <tbody>
    {{#partialDayTimeOffs}}
    <tr>
        <td><a href="/mvc/user/partial-time-off/delete/{{id}}">Cancella questo permesso</a></td>
        <td>{{date}}</td>
        <td>
            {{#timeRangeDTOList}}
                {{from}} - {{to}} <br/>
            {{/timeRangeDTOList}}
        </td>
    </tr>
    {{/partialDayTimeOffs}}
    </tbody>
</table>

{{>footer}}