{{>header}}

<div class="row center-align">
    <h3>User</h3>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>

<br/><br/><br/><br/>

<div class="row center-align">
    <h3>Ferie</h3>
</div>

<table>
    <thead>
    <tr>
        <th width="20%">Cancella</th>
        <th width="20%">Modifica</th>
        <th>Dal</th>
        <th>Al</th>
    </tr>
    </thead>
    <tbody>
    {{#fullDayTimeOffs}}
        <tr>
            <td><a href="/mvc/user/full-day-timeoff/delete/{{id}}/user/{{user.id}}">Cancella queste ferie</a></td>
            <td><a href="/mvc/user/full-day-timeoff/edit/{{id}}/user/{{user.id}}">Modifica queste ferie</a></td>

            <td>{{from}}</td>
            <td>{{to}}</td>
        </tr>
    {{/fullDayTimeOffs}}
    </tbody>
</table>

<br>

<form action="/mvc/user/full-day-timeoff/edit/0/user/{{user.id}}" method="get">
    <input type="submit" value="Inserisci richiesta ferie">
</form>

<br/><br/>

<div class="row center-align">
    <h3>Permessi</h3>
</div>

<table>
    <thead>
    <tr>
        <th width="20%">Cancella</th>
        <th width="20%">Modifica</th>
        <th>Data</th>
        <th>Permessi</th>
    </tr>
    </thead>
    <tbody>
    {{#partialDayTimeOffs}}
    <tr>
        <td><a href="/mvc/user/partial-day-timeoff/delete/{{id}}/user/{{user.id}}">Cancella questo permesso</a></td>

        <td>{{date}}</td>
        <td>
            {{#timeRangeDTOList}}
                {{from}} - {{to}} <br/>
            {{/timeRangeDTOList}}
        </td>
    </tr>
    {{/partialDayTimeOffs}}
    </tbody>
</table>

<br>

<form action="/mvc/user/{{id}}/partial-day-timeoff-form" method="get">
    <input type="submit" value="Inserisci richiesta permesso">
</form>


{{>footer}}